/* header */
.navbar{
    overflow: hidden;
    background-color: #dddddd;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a{
    float: left;
    display: block;
    color: #2b2b2b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background: #2b2b2bdd;
    color: #dddddd;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.logmen{
    float: right;
}

.btn{
    background-color: #2b2b2b;
    color: #dddddd;
}

.btn:hover{
    background-color:#dddddd;
    color: #2b2b2b;
    cursor: pointer;
}

/* index */
.wrapper-main{
    display: block;
    position: fixed;
}